/* input width */
.input-group.mb-3 {
    width: 75%;
    margin: auto;
}

/* spinner */
#spinner{
    display: none;
}
/* error massage */ 
#error-massage{
    display: none;
}

/*single image width */
/* img.card-img-top {
    width: 68%;
} */

