/* input width */
.input-group.mb-3 {
    width: 75%;
    margin: auto;
}
#input-field {
    border-color: #FF724B;
}
#button-color, a.btn.btn-primary {
    background-color: #FF724B;
    color: white;
    border: none;
}

/* spinner */
#spinner{
    display: none;
}
/* error massage */ 
#error-massage{
    display: none;
}

.text_color{
color: #FF4815;

}

/*single image width */
/* img.card-img-top {
    width: 68%;
} */

